.feature {
  margin: 0 0 3rem;

  .title,
  .subtitle {
    letter-spacing: -0.01rem;
    line-height: 1.5;
  }

  .title {
    margin: 0 0 1.5rem;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin: 0;
  }
}
