<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['Alice', 'Copse', 'Lora']
            }
          });
        </script>

        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{> header }}

        <main class="container">
            <div class="board">
                <div class="center-wrapper">
                    {{> 'front-banner'}}
                </div>
            </div>
            {{!-- <div class="center-wrapper"> --}}
                <div class="features">
                    {{> 'feature-item'
                        title='Fast&nbsp;&amp;&nbsp;Reliable'
                        subtitle='AWS services under the hood'
                        content='Amazon Web Services powers guarantees your bots will always be alive and ready for action.'
                    }}

                    {{> 'feature-item'
                        title='Customizable'
                        subtitle="One panel to rule them all"
                        content='With our service you can easily create bot\'s scripts. No programming skills needed.'
                    }}

                    {{> 'feature-item'
                        title='Smart'
                        subtitle='ALICE is my granny'
                        content='Bots are built on the same techs like as Loebner award-winning bots. Thats not a joke.'
                    }}

                    {{> 'feature-item'
                        title='Multilingual'
                        subtitle='Easy to Expand'
                        content='It\'s always matters to provide conversation on client\'s native language. Positive conversion dynamics will show immediately.'
                    }}

                    {{> 'feature-item'
                        title='Free'
                        subtitle='No credit card needed'
                        content='You can calmly grow up your bot baby without worrying about the money. Happy bots will build our future.'
                    }}
                </div>
            {{!-- </div> --}}

            <div class="try-for-free">
                <div class="center-wrapper">
                    {{> 'try-for-free'}}
                </div>
            </div>
        </main>

        {{> footer }}

        <script type="text/javascript" src="scripts/line.js"></script>
    </body>
</html>
