<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Chatty easy going bots</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/app.css" inline>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{> header }}

        <main class="container">
            <div class="board">
                <div class="center-wrapper">
                    {{> 'front-banner'}}
                </div>
            </div>
            {{!-- <div class="center-wrapper"> --}}
                <div class="features">
                    {{> 'feature-item'
                        title='Fast&nbsp;&amp;&nbsp;Reliable'
                        subtitle='AWS engine under the hood'
                        content='Amazon Web Services power guarantees your bots will always be alive and ready for action.'
                    }}

                    {{> 'feature-item'
                        title='Customizable'
                        subtitle="One panel to rule them all"
                        content='You can easily create bot scripts through web app. No programming skills needed.'
                    }}

                    {{> 'feature-item'
                        title='Smart'
                        subtitle='ALICE is my granny'
                        content='We use the same techs as Loebner award-winning bots. Thats not a joke.'
                    }}

                    {{> 'feature-item'
                        title='Multilingual'
                        subtitle='Easy to Expand'
                        content='Clients always prefer native speaker wizards. Use built in localization system to improve your conversion dramatically.'
                    }}

                    {{> 'feature-item'
                        title='Free'
                        subtitle='No credit card required'
                        content='You can calmly grow up your bot baby without worrying about the money. Happy bots will build our future.'
                    }}
                </div>
            {{!-- </div> --}}

            <div class="try-for-free">
                <div class="center-wrapper">
                    {{> 'try-for-free'}}
                </div>
            </div>
        </main>

        {{> footer }}

        <script type="text/javascript" src="scripts/line.js" inline></script>
    </body>
</html>
