<nav class="navigation">
  <ul class="menu">
    <li class="signup">
      <a href="#">
        Sign up
      </a>
    </li>
    <li class="signin">
      <a href="#">
        Sign in
      </a>
    </li>
  </ul>
</nav>